.mainContainer{
    box-sizing: border-box;
    background-color: #f8f8f8;
}

.senderContainer{
    box-sizing: border-box;
    margin: 4px;
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    padding: 6px;
}

.input{
    box-sizing: border-box;
    flex-grow: 1;
    margin-right: 4px;
}
.button{
}

.viewer{
    
}

.options{
}